* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #ffbfaf, rgb(255, 220, 187));
  background-repeat: no-repeat;
}

.main-container {
  width: 1000px;
  height: 600px;
  background-image: linear-gradient(to right bottom, #e4233f, #c51f38);;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient( #851b2a, rgba(197, 31, 56, 0.2));;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  overflow-y: scroll;
}

.main-content::-webkit-scrollbar{
  display: none;
}

#system-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: aliceblue;
}

#add-task-btn {
  margin: 1rem 0 1rem 0;
  width: 130px;
  height: 40px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  background-color: aliceblue;
  transition: all 350ms;
}

#add-task-btn:hover {
  background-color: rgb(234, 242, 248);
}

.header {
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 960px;
}

table {
  width: 960px;
  word-break: break-all;
  border-collapse: collapse;
}

table thead tr th{
  border-radius: 7px 7px 0 0;
  background-color: rgb(234, 242, 248);
  height: 40px;
  border-bottom: 1px solid #851b2a;
  position: sticky;
  top: 0;
}

table tbody tr {
  text-align: start;
  height: 30px;
  background-color: rgb(255, 255, 255);
  user-select: none;
  cursor: grab;
  border-bottom: 1px solid #851b2a;
}

table tbody tr td {
  padding-left: 10px;
}

table tbody tr td:nth-last-child(-n+2) {
  padding: 0%;
  text-align: center;
}

tbody tr:nth-child(2n+2) {
  background-color: rgba(255, 255, 255, 0.95);
}

.popup-edit-container, .delete-task-container, .verify-fields-container, .verify-name-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 999;
}

.verify-fields img, .verify-name img {
  margin-top: 10px;
  width: 50px;
}

.verify-fields, .verify-name {
  background-color: aliceblue;
  padding: 1rem;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  text-align: center;
}

.popup-edit, .delete-task {
  background-color: aliceblue;
  padding: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.delete-task span {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
}

.active {
  display: flex;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


form div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

form button, #delete-popup-yes {
  width: 120px;
  height: 25px;
  border-radius: 7px;
  border-style: none;
  background-color: #e4233f;
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
}

#delete-popup-no {
  width: 120px;
  height: 25px;
  border-radius: 7px;
  border-style: none;
  background-color: #cecece;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

.act img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
}

.importantRow {
  background-color: #f9ffc3 !important;
}